<div class="background">
    <div class="text">
        <h1>Agent Management</h1>
        <h2>by Yonathan Montilla</h2>
        <button (click)="agent()">agent</button>
        <button (click)="way()">way</button>
    </div>
    <img src="assets/task.svg" alt="img for home"> 

</div>
<div class="wave">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #282A36;"></path></svg>
</div>